{% load static %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% block extrahead %}
  <link href="{% static 'css/edinet.css' %}" rel="stylesheet">
  <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/edinet.js' %}"></script>
{% endblock %}

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Call Edinet API</title>
  </head>
  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

      <main role="main" class="inner cover">
        <h1 class="cover-heading">Call Edinet API.</h1>
        <p class="lead">This is My Django Practice.</p>
        <p class="lead">
          <a href="{% url 'call_edinet_api' %}" class="btn btn-lg btn-primary">Click</a>
          <a href="{% url 'reload' %}" class="btn btn-lg btn-secondary">Reload</a>
        </p>
      </main>

      {% block content %}
      {% if corporate_officer_list_count == 0 %}
        No Data
      {% endif %}
      {% if corporate_officer_list_count > 0 %}
      <p class="lead">list_count = {{corporate_officer_list_count}}</p>
      <div class="table-responsive">
        <table class="table table-bordered table-striped table-dark edinet-table">
          <thead>
            <tr>
              <th class="position">役名</th>
              <th class="job">職名</th>
              <th class="name">氏名</th>
              <th class="birthday">生年月日</th>
              <th class="biography">経歴</th>
              <th class="term">任期</th>
              <th class="stock">株式数</th>
            </tr>
          </thead>
          <tbody>
              {% for corporate_officer in corporate_officer_list %}
              <tr>
                <td class="position">{{corporate_officer.position}}</td>
                <td class="job">{{corporate_officer.job}}</td>
                <td class="name">{{corporate_officer.name}}</td>
                <td class="birthday">{{corporate_officer.birthday}}</td>
                <td class="biography">{{corporate_officer.biography | linebreaks }}</td>
                <td class="term">{{corporate_officer.term}}</td>
                <td class="stock">{{corporate_officer.stock}}</td>
              </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>
      {% endif %}
      {% endblock %}
      
      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>@TsJazz27Sumin 2019.</p>
        </div>
      </footer>
    </div>
  </body>
</html>